@model List<RentWheels.Models.CarListDetailsViewModel>
@{
    ViewBag.Title = "RentWheels Carriage";
}
<link href="~/Content/CarList.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Filter Section -->
            <div class="panel panel-default">
                <div class="panel-heading" id="panel-heading">Filter</div>
                <div class="panel-body">
                    @using (Html.BeginForm("Filter", "CarList", FormMethod.Get))
                    {
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("RideSelection", "Ride Selection", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("rideSelection", new SelectList(Model.Select(m => m.RideSelection).Distinct()), "-- Select Ride Selection --", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Color", "Color", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("color", new SelectList(Model.Select(m => m.Color).Distinct()), "-- Select Color --", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Price", "Price ₹", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("Price", new SelectList(Model.Select(m => m.Fees).Distinct()), "-- Select Color --", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-3d col-sm-12">Apply Filter</button>
                                <br>
                                <button type="button" onclick="resetFilters();" class="btn btn-reset btn-3d col-sm-12">Reset</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @*<div class="container discounts-container" style="margin:40px; background-color:#efcfb7">
            <h2 class="discounts-header">Available Discounts</h2>
            <ul class="discounts-list">
                @foreach (var discount in ViewBag.Discounts)
                {
                    <li class="discount-item col-md-4">
                        <span class="discount-brand ">@discount.BrandName</span> -
                        <span class="discount-model ">@discount.ModelName</span>:
                        <label class="discount-offer ">@discount.Offer%</label>
                    </li>
                }
            </ul>
        </div>*@
        <div class="col-md-12">
            <!-- Car Listing Section -->
            <div class="row">
                @foreach (var car in Model)
                {
                    <div class="col-md-4">
                        <!-- Car Card Markup -->
                        <div class="panel panel-default product-card">
                            <!-- Panel Heading -->
                            <div class="panel-heading" id="panel-heading1">
                                <h3 class="panel-title">@car.BrandName @car.ModelName</h3>
                            </div>
                            <!-- Panel Body -->
                            <div class="panel-body">
                                <img src="@Url.Content(car.ImageUrl)" alt="Car Image" class="img-responsive product-image">
                                <ul class="list-group product-info">
                                    <li class="list-group-item">
                                        <strong>Color:</strong>
                                        <span class="text-muted">@car.Color</span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Fuel Type:</strong>
                                        <span class="text-muted">@car.FuelType</span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Ride Selection:</strong>
                                        <span class="text-muted">@car.RideSelection</span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Fees:</strong>
                                        <span class="text-muted">@car.Fees ₹</span>
                                        <span class="badge">Discount</span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Travel:</strong>
                                        <span class="text-muted">@car.Travel (k/m)</span>
                                    </li>

                                    <li class="list-group-item">
                                        <strong>Availability:</strong>
                                        @if (car.Available == "Yes")
                                        {
                                            <span class="availability available">
                                                <i class="fas fa-check-circle"></i> Available
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="availability unavailable">
                                                <i class="fas fa-times-circle"></i> Currently Unavailable 
                                            </span>
                                        }
                                    </li>
                                </ul>
                            </div>
                            <!-- Panel Footer -->
                            <div class="panel-footer text-center">
                                @if (car.Available == "Yes")
                                {
                                    <button class="btn btn-primary" onclick="redirectToRentify('@car.CarNo', '@car.Fees')">Book Now</button>
                                }
                                else
                                {
                                    <button class="btn btn-primary" disabled>Currently Unavailable</button>
                                }
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    function resetFilters() {        
        $('select').val('');       
        $('form').submit();
    }

 
    function redirectToRentify(carNo, fees) {        
        var url = '@Url.Action("RentifyWithParams", "Rentify")' + '?carNo=' + encodeURIComponent(carNo) + '&fees=' + encodeURIComponent(fees);       
        window.location.href = url;
    }

</script>