@model RentWheels.Models.RegisterDetail
@{
    ViewBag.Title = "Forgot Password";
}
<style>
    .con {
    display: flex;
    justify-content: center;
    align-items: center; 
    /*max-width:4000px;*/
    /*height: 100vh;*/
    }


    .login-container {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        width: 100%;
    }

    .logo {
        width: 100px;
        margin-bottom: 20px;
    }

    .text-center {
        text-align: center;
    }

    .form-group {
        margin-bottom: 20px;
    }

        .form-group .input-group-addon {
            background-color: #eee;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

    .form-control {
        border-radius: 8px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    .btn-block {
        display: block;
        width: 100%;
    }

    .text-danger {
        color: #dc3545;
    }
</style>

<div class="container con">
    <div class="row">
        <div class="col-md-12">
            <div class="login-container">
                <div class="text-center">
                    <img class="logo" src="~/Content/images/logo2.jpg" alt="Logo">
                    <h2>Forgot Password</h2>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailOrPhone, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.EditorFor(model => model.EmailOrPhone, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Email or Phone", id = "emailorphone" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.EmailOrPhone, "", new { @class = "text-danger" })
                    </div>

                    <!-- Button to send OTP -->
                    <div class="form-group">
                        <button type="button" id="sendOtpBtn" class="btn btn-primary btn-block">Send OTP</button>
                    </div>

                    <!-- Input field for OTP -->
                    <div class="form-group" id="otpInputContainer" >
                        @Html.LabelFor(model => model.OTP, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter OTP",id="OTPInput"} })
                        </div>
                        @Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })
                    </div>

                    <!-- Button to verify OTP -->
                    <div class="form-group" id="verifyOtpBtnContainer" >
                        <button type="button" id="verifyOtpBtn" class="btn btn-primary btn-block">Verify OTP</button>
                    </div>

                    <div class="form-group">
                        <button type="submit" id="submitBtn" class="btn btn-primary btn-block" disabled>Submit</button>
                    </div>
                    @*<div class="form-group">
                        <div id="message">@ViewBag.Message</div>
                    </div>*@
                }
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script>
    $(document).ready(function () {
        // Send OTP button click event
        $("#sendOtpBtn").click(function () {
            var emailOrPhone = $("#emailorphone").val();
            $.ajax({
                type: 'POST',
                url: '/Account/OTPProcessing',
                data: { emailOrPhone: emailOrPhone },
                success: function (response) {
                    //$("#otpInputContainer").show();
                    //$("#verifyOtpBtnContainer").show();
                    //$("#submitBtn").hide();                  
                    alert(response);
                    if (response = "OTP sent successfull ! Your OTP is:" @Session["OTP"]){
                        document.getElementById("OTPInput").disabled = false;
                        document.getElementById("submitBtn").disabled = true;
                    }
                },
                error: function () {
                    alert('Error sending OTP.');
                }
            })
        });

        // Verify OTP button click event
        $("#verifyOtpBtn").click(function () {
            var otp = $("#OTPInput").val();
            var emailOrPhone = $("#emailorphone").val();
            $.ajax({
                type: 'POST',
                url: '/Account/OTPProcessing',
                data: {emailOrPhone:emailOrPhone, otp: otp },
                success: function (response) {
                    alert(response);
                    if (response == "OTP verification successfull.") {
                        document.getElementById("OTPInput").disabled = true;
                        document.getElementById("submitBtn").disabled = false;
                    }
                },
                error: function () {
                    alert('Invalid OTP.');
                }
            });
        });
    });
</script>
